body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.cuadrado {
    text-align: center;
}

.bouncing {
    position: absolute;
    left: 40%;
}

.figura1 {
    top: 0%;
}

.figura2 {
    top: 5%;
}

